* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(138, 129, 236) 0%, #a2d3ee 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* background-position: center;
    background-size: cover; */
}